* {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

noscript {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

  p {
    margin: 1em;
  }
}
