.button {
  border-radius: 2em;
  margin: 0 2px;
  color: #ffffff;
}

.icon_box {
  width: 35px;
  height: 35px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini_button {
  border-radius: 1em;
  transition: all 0.3s ease;
  color: #f1f1f1;
  background-color: #fb7299;
}

.mini_icon_box {
  padding: 8px 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
