@use "~/styles/common/mixins.scss" as common;

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

.header {
  @include common.base-header;

  justify-content: space-between;
}

.side {
  @include flex-align-center;

  height: 35px;
}

.center {
  @include flex-align-center;

  flex: 1;
  justify-content: center;
  text-align: center;
  color: var(--header-text-color);
}
