.wrapper {
  padding-bottom: 20px;
}

.title_text {
  color: #fb7299;
  font-weight: bold;
  padding: 0 15px 3px;
}

.container {
  position: relative;
  margin-bottom: 20px;
}

.tips {
  position: absolute;
  font-size: 12px;
  color: #888888;
  padding: 5px 15px;
}
