.main {
  position: relative;
  flex: 1;
  overflow: scroll;
}

.page {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  padding: 10px;
  color: var(--icon-color);
}
