.switch-box {
  display: inline-flex;
  vertical-align: bottom;
}

.input {
  display: none;
  height: 0;
  width: 0;
}

.button {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 50%;
  border-radius: 2em;
  transition: all 0.5s ease-in-out;
  background-color: var(--switch-button-bg-color);
}

.label {
  position: relative;
  width: 45px;
  height: 25px;
  border-radius: 2em;
  cursor: pointer;

  &:active {
    .button {
      width: 25px;
    }
  }
}
