.switch_box {
  display: inline-flex;
  vertical-align: bottom;
}

.input {
  display: none;
  height: 0;
  width: 0;
  border: 1px solid #dfdfdf;
  transition:
    border cubic-bezier(0, 0, 0, 1) 0.4s,
    box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.button {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 50%;
  border-radius: 2em;
  transition: all 0.4s;
}

.label {
  position: relative;
  width: 45px;
  height: 25px;
  border-radius: 2em;
  cursor: pointer;

  &:active {
    .button {
      width: 25px;
    }
  }

  &:hover {
    .input {
      border: 2px solid #dfdfdf;
    }
  }
}
