.select {
  position: relative;
}

.button {
  padding: 6px;
  border-radius: 2em;
  text-align: center;
  cursor: pointer;
  font-size: 13.5px;

  &:hover {
    background-color: #ffffff;
  }
}

.text {
  padding: 3px;
}

.select_box {
  width: 60px;
  z-index: 999;
  position: absolute;
  top: 42px;
  border-radius: 8px;
}

.select_item {
  list-style: none;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5px;

  & > * {
    margin: 5px;
    cursor: pointer;
    width: 100%;
  }
}

.hover_box {
  z-index: -999;
  width: 52px;
  height: 26px;
  margin: 5px;
  position: absolute;
  top: 0;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
