@use "~/styles/global/reset";
@use "~/styles/theme/dark";
@use "~/styles/theme/light";
@use "~/styles/theme/markdown-dark";
@use "~/styles/theme/markdown-light";

#root {
  background-color: var(--bg-color);
}
