.episode {
  text-align: center;
}

.title {
  font-size: 14px;
  font-weight: bolder;
  margin: 5px 0;
  white-space: normal;
  text-align: left;
}

.index {
  font-weight: bold;
  margin: 5px 0;
  text-align: left;
  transition: all 0.5s ease-in-out;
}
