.wrapper {
  position: absolute;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-top: 5px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  border-width: 1px;
  border-style: solid;
}

.content {
  padding: 1px;
}
