@mixin message-wrapper {
  width: 200px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 5px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.message_container {
  position: absolute;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
  margin-top: 5px;
}

.message_type_wrapper {
  @include message-wrapper;

  justify-content: space-between;
}

.message_default_wrapper {
  @include message-wrapper;

  justify-content: center;
}

.message_content {
  padding: 1px;
}

.message_button {
  cursor: pointer;
}
