@use "~/styles/common/mixins.scss" as common;

.input-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 8px;
  width: 170px;
  height: 30px;
  border-radius: 18px;
  margin: 0 2px;
  border: var(--input-border);
  background-color: var(--input-bg-color);
  transition: all 0.4s ease-in-out;

  &:hover {
    border: var(--input-hover-border);
  }
}

.input {
  width: 100%;
  height: 80%;
  font-size: 14px;
  padding: 0 8px;
  outline: none;
  border: none;
  color: var(--input-text-color);
  background-color: var(--input-bg-color);
  caret-color: var(--input-caret-color);
  transition: all 0.4s ease-in-out;
}

.clear-button {
  @include common.button;

  color: var(--clear-button-text-color);

  & :hover {
    color: var(--clear-button-hover-text-color);
  }
}

.icon {
  color: var(--search-icon-color);
  transition: all 0.4s ease-in-out;
}
