.header {
  display: flex;
  padding: 5px;
  transition: all 0.4s;
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 35px;
}

.title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
