.header {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  transition: all 0.4s;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
