.row {
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 12px;
  transition: all 0.4s;
}

.text {
  color: #fb7299;
  font-size: 14px;
  font-weight: bold;
}
