.card {
  border-radius: 8px;
  box-shadow: #888888 0 0 3px;
  margin: 5px;
  transition: all 0.4s;
}

.header {
  padding: 8px 3px;
  margin: 0 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding: 5px 0;
}
