.cover-enter {
  z-index: 999;
  transform: translate3d(100%, 0, 0);
}

.cover-enter-active {
  z-index: 999;
  transform: translate3d(0, 0, 0);
  transition: transform 0.4s ease-in-out;
}

.cover-exit {
  z-index: 999;
  transform: translate3d(0, 0, 0);
}

.cover-exit-active {
  z-index: 999;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.4s ease-in-out;
}
