:root[data-theme="dark"] {
  --bg-color: #000000;
  --icon-color: #343a43;
  --header-text-color: #ffffff;
  --header-bg-color: #343a43;
  --header-border-bottom: 1px solid #5b5b5b;
  --header-box-shadow: 0px 2px 4px 0px #000000;
  --nav-bg-color: #343a43;
  --nav-border-top: 1px solid #5b5b5b;
  --nav-box-shadow: 0px -2px 4px 0px #000000;
  --nav-item-text-color: #ffffff;
  --nav-item-selected-text-color: #343a43;
  --nav-item-selected-bg-color: #ffffff;
  --nav-item-hover-border: 1px solid #ffffff;
  --round-button-text-color: #ffffff;
  --round-button-hover-text-color: #343a43;
  --round-button-hover-bg-color: #ffffff;
  --block-button-text-color: #f1f1f1;
  --block-button-bg-color: #fb7299;
  --search-icon-color: #343a43;
  --input-text-color: #ffffff;
  --input-bg-color: #000000;
  --input-caret-color: #ffffff;
  --input-border: 1px solid #343a43;
  --input-hover-border: 1px solid rgb(52 58 67 / 50%);
  --select-item-hover-color: #fba1a8;
  --select-item-selected-color: #fb7299;
  --select-item-selected-bg-color: rgb(0 0 0 / 50%);
  --select-button-color: #ffffff;
  --select-button-selected-color: #343a43;
  --select-button-selected-bg-color: #ffffff;
  --select-button-hover-color: #343a43;
  --select-button-hover-bg-color: #ffffff;
  --select-box-color: #ffffff;
  --select-box-bg-color: #343434;
  --select-box-shadow: #000000 0 0 5px;
  --select-box-border: 1px solid #5d5d5d;
  --switch-label-bg-color: #000000;
  --switch-label-checked-bg-color: #fb7299;
  --switch-label-box-shadow: none;
  --switch-label-checked-box-shadow: #fb7299 0 0 0 16px inset;
  --switch-button-bg-color: #2a333f;
  --switch-button-box-shadow: 2px 0px 2px 1px rgb(10 10 10 / 10%);
  --switch-button-checked-box-shadow: -2px 0px 2px 1px rgba(10 10 10 / 10%);
  --card-text-color: #ffffff;
  --card-bg-color: #343a43;
  --card-box-shadow: #888888 0 0 3px;
  --card-header-text-color: #cccccc;
  --card-content-border: 1px solid #2a333f;
  --episode-text-color: #808080;
  --episode-published-text-color: #fb7299;
  --score-text-color: #f3ba05;
  --row-bg-color: #343a43;
  --row-text-color: #fb7299;
  --row-title-text-color: #fb7299;
  --row-tips-text-color: #888888;
  --clear-button-text-color: rgb(52 58 67 / 80%);
  --clear-button-hover-text-color: #343a43;
  --message-text-color: #ffffff;
  --message-bg-color: #000000;
  --message-box-shadow: 0 0 0 1px #fffdfa;
  --loading-text-color: #cccccc;
  --disconnection-icon-color: #ffffff;
  --error-page-text-color: #888888;
  --empty-page-text-color: #888888;
  --version-text-color: #888888;
  --version-hover-text-color: #fb7299;
}
