:root[data-theme="light"] {
  --color-bg-default: #ffffff;
  --color-fg-default: #1f2328;
  --color-border-muted: hsl(210deg 18% 87% / 100%);
  --color-accent-fg: #0969da;
  --color-fg-muted: #656d76;
}
