@use "~/styles/common/mixins.scss" as common;

.round-button {
  border-radius: 2em;
  margin: 0 2px;
  color: var(--round-button-text-color);
}

.round-box {
  @include common.button;

  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-button {
  border-radius: 1em;
  transition: all 0.3s ease-in-out;
}

.block-box {
  @include common.button;

  padding: 8px 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--block-button-text-color);
  background-color: var(--block-button-bg-color);
}
