.rating {
  text-align: center;
  width: 15%;
  margin: 0 5px;
}

.score {
  color: var(--score-text-color);
}

.no-score {
  white-space: nowrap;
}

.count {
  display: inline-block;
  transform: scale(0.9);
  transform-origin: 0 0;
  white-space: nowrap;
}
